@******************************************************************************
 *   View Name: _CreateEditPartial
 *  Controller: ContactTitle
 *  Decription: Allows for Create/Edit of a ContactTitle
 *        Date: Tuesday, July 5, 2016
 *      Author: ksafford                  
 *                    
 *  Modification History
 *  Who    When    What
 *  --- ---------- -----------------------------------------------------------
 *  
*******************************************************************************@
@using Northwind2.Mvc3UI.Infrastructure
@model Northwind2.Mvc3UI.ViewModels.Administration.ContactTitleViewModel
     
@Html.ValidationSummary(true)         
<fieldset>
    @if (@Model.ContactTitleID == -1) 
    {
	    <legend>ContactTitle Create</legend>
	} 
    else 
    {
		<legend>ContactTitle Edit for Id = @Model.ContactTitleID</legend>
	}
    <p class="error">@ViewBag.ErrorMessage</p>

	@Html.HiddenFor(model => model.ContactTitleID)
	@Html.HiddenFor(model => model.Modified)
    @Html.HiddenFor(model => model.ModifiedDate)
	@Html.HiddenFor(model => model.ModifiedBy)
    @Html.HiddenFor(model => model.AddedDate)
	@Html.HiddenFor(model => model.AddedBy)

    <table cellspacing="0" cellpadding="0" class="grid">
        <tr>
            <td>@Html.LabelFor(model => model.ContactTitleName)</td>
            <td>
                <div class="editor-field">
			        @Html.EditorFor(model => model.ContactTitleName)
                    @Html.ValidationMessageFor(model => model.ContactTitleName)
                </div>
            </td>
        </tr>        
    </table>
    
    <p>
        @Html.AntiForgeryToken() 
		<input type="submit" value="Save" />
	</p>
</fieldset>	

