@******************************************************************************
 *   View Name: _CustomerLists
 *  Controller: Customer
 *  Decription: Allows viewing of navigation subordinate collections to Customer.
 *        Date: Monday, March 10, 2016
 *      Author: ksafford                   
 *                    
 *  Modification History
 *  Who    When    What
 *  --- ---------- -----------------------------------------------------------
 *  
 ******************************************************************************@
@using Northwind2.Common.Constants
@using Northwind2.Mvc3UI.Infrastructure
@model Northwind2.Mvc3UI.ViewModels.Customers.CustomerViewModel

@if ((@Model.CustomerID != -1) && ((@Model.Invoices != null) && (@Model.Invoices.Count > 0)))
{   
    <table cellspacing="0" cellpadding="0" class="grid">
        <tr>
	        <td valign="top">
		        @if (Model.Invoices != null && Model.Invoices.Count > 0) 
			    {
		            <div>		
			            <table cellspacing="0" cellpadding="0" class="grid">
		                    <caption>Invoices (@Model.Invoices.Count)</caption>
				            <tr>
					            <td>ID</td>
                                <td>Date</td>
                                <td>Employee</td>
					            <td>Amount</td>	
				            </tr>	
			                @foreach (var item in Model.Invoices.OrderByDescending(x => x.ID))
					        {
			                <tr>   
			                    <td>
				                    @if(User.IsInRole("Administrator") || User.IsInRole("Sales")) {
					                    @Html.ActionLink(item.ID.ToString(), "Details", "Invoice", new { id=item.ID }, null)
				                    } else {
					                    @Html.ActionLink(item.ID.ToString(), "Details", "Invoice", new { id=item.ID }, null)
				                    }
			                    </td>
				                <td>@item.ID</td> 
                                <td>@item.Date.ToString("MM/dd/yyyy")</td>
                                <td>@item.Name</td>
                                <td>@item.Amount.ToString("C")</td>								   							
			                </tr>
                            }
		                </table>		
		            </div>
                }		
            </td>
        </tr>
    </table>	
<div>
    @Html.ActionLink(Constants.CANCEL_AND_RETURN_TO_LIST, "Index")
</div>
}
